html,
body {
  width: 100%;
 
}
.header {
  text-align: center;
 

  background: -webkit-linear-gradient(
    45deg,
    #ff199f,
    #cd8cdd,
    #5be288,
    #bef146,
    #7e6ed8
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 25px;
  color: transparent;
  text-fill-color: transparent;
  font-family: Abril Fatface;

  font-weight: 800;
  margin: 3%;
  padding-left: 3%;
  padding-right: 3%;
}
 .app {
  border: solid red;
 
  display: flex;
  text-align: center;
  justify-content: center;
} 

.thoughtsContainer {

  max-width: 600px;
  margin: 3%;
  padding-left: 3%;
  padding-right: 3%;
  border: solid blue;

}
.wrtieThoughts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border: solid black;
  background-color: #ebebeb;
  max-width: 50%;
  box-shadow: 5px 5px black;
  padding-bottom: 1%;
}
.fetchThoughts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  border: solid #7e6ed8;
  max-width: 100%; 
  padding: 10px;
  box-sizing: border-box; 
}

.thoughtBox {
  border: solid black;
  margin-top: 4%;
  padding: 10px; 
  box-shadow: 5px 5px black;
  max-width: 100%; 
  box-sizing: border-box;
}


textarea {
  padding: 10px;
  width: 500px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #999;
}

.textareaWraper {
  font-size: 18px;
  margin: 10px 0 2px;
  text-align: center;
}
.formSections {
  display: flex;
  margin: 0 10px 20px;
  gap: 25px;
}

.formButton {
  background-color: #ffb7d2;
  border-radius: 25px;
  padding: 5px 10px;
  margin: 0 0 5px;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.emoji {
  font-size: 24px;
}
.errorSection {
  flex: 1;
  /* color: palevioletred; */
  color: #ee8bb4;
  /* "#ee8bb4"; */
}

.characterCount {
  text-align: right;
}
.timeInfo {
  color: gray;
}
.likeButton {
  display: flex;

  padding: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
 
}
.likeInfo {
  display: flex;
  align-items: center;
}


.likesAndDate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 576px) {
  .thoughtsContainer {
    max-width: 80%;
    padding-left : 4%;
  }

  .wrtieThoughts {
    max-width: 100%;
    padding: 10px;
  }

  textarea {
    width: 200px;
    padding: 5px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  .thoughtsContainer {
    max-width: 80%;
    padding-left : 6%;
  }

  .wrtieThoughts {
    max-width: 100%;
    padding: 20px;
  }
  textarea {
    width: 300px;
    padding: 10px;
  }
}

@media (min-width: 993px) {
  .thoughtsContainer {
    width: 50%;
    padding-left: 30%;
    padding-right: 30%;
  }

  .wrtieThoughts {
    max-width: 100%;
    height: 300px;
    box-shadow: 5px 5px black;
  }

  textarea {
    width: 400px;
    padding: 10px;
  }
}


